In [1]:
from datetime import datetime
str(datetime.now()).replace("-","").replace(":","").replace(".","").replace(" ","_")

'20180509_211512943638'

# Clustering
## Intention: Identify best clustering algorithm for a set of data

## 1. Instantiate Dataset

In [6]:
from sklearn.cluster import KMeans, AffinityPropagation, MeanShift, SpectralClustering, AgglomerativeClustering, DBSCAN, Birch

In [7]:
from sklearn.datasets import load_iris
from pandas import DataFrame

In [8]:
from pandas import DataFrame
data = DataFrame(load_iris().data, columns=load_iris().feature_names)
labels = load_iris().target
features = load_iris().feature_names

## 2. Score Function

In [9]:
from sklearn.metrics import silhouette_score, calinski_harabaz_score

def scores(data,labels):
    return {"silhouette score" : silhouette_score(data,labels), "calinski harabaz score" : calinski_harabaz_score(data,labels)}

In [71]:
def generate_parameters(parameter_grid):
    
    parameter_names = list(parameter_grid.keys())
    
    axes = []
    for key in parameter_names:
        axes += [parameter_grid[key]]
    
    parameters = []
    
    for point in product(*axes):
        parameter = {}
        for i in range(0,len(point)):
            parameter[parameter_names[i]] = point[i]
        parameters += [parameter]
        
    return parameters

## K-Means

In [29]:
algorithm = KMeans

parameter_options = {}
parameter_options["n_cluster"] = [i for i in range(2,21)]

score_table = []
for i in range(2, 21):
    
    labels = algorithm(n_clusters=i).fit(data).predict(data)

    row = scores(data,labels)
    row["number of clusters"] = i
    
    score_table += [row]
    
DataFrame(score_table).sort_values("silhouette score", ascending=False).round(2)[["number of clusters", "calinski harabaz score","silhouette score"]]

    number of clusters  calinski harabaz score  silhouette score
0                    2                  513.30              0.68
1                    3                  560.40              0.55
2                    4                  529.40              0.50
3                    5                  494.09              0.49
4                    6                  474.85              0.37
6                    8                  438.80              0.36
5                    7                  449.86              0.36
7                    9                  409.42              0.34
8                   10                  391.64              0.33
10                  12                  363.26              0.32
9                   11                  378.22              0.31
16                  18                  316.90              0.31
18                  20                  312.90              0.30
17                  19                  306.31              0.29
12                  14                  335.59              0.29
13                  15                  334.58              0.29
15                  17                  321.97              0.29
11                  13                  350.70              0.29
14                  16                  315.20              0.27

In [13]:
# Affinity Propagation

In [98]:
from math import floor

n = len(data)

parameter_grid = {
    "damping" : [0.50 + 0.03 * i for i in range(0,floor(0.50/0.03)+1)]#,
    #"preference" : [0.2 * i for i in range(1,floor(1/0.2)+1)]
    #"max_iter" : ,
    #"convergence_iter":,
}

# ===

score_table = []

for parameter in generate_parameters(parameter_grid):
    
    labels = AffinityPropagation(**parameter).fit(data).predict(data)
    row = scores(data,labels)
    row["number of clusters"] = int(len(set(labels)))
    row = {**row,**parameter}
    score_table += [row]
    
DataFrame(score_table).sort_values("silhouette score", ascending=False).round(2)[["number of clusters"] + list(parameter_grid.keys()) + ["calinski harabaz score","silhouette score"]]

    number of clusters  damping  calinski harabaz score  silhouette score
16                   4     0.98                  446.08              0.50
8                    5     0.74                  487.02              0.49
7                    6     0.71                  435.83              0.47
4                    6     0.62                  427.20              0.47
5                    6     0.65                  427.20              0.47
6                    6     0.68                  427.20              0.47
9                    6     0.77                  427.20              0.47
10                   6     0.80                  427.20              0.47
11                   6     0.83                  427.20              0.47
12                   7     0.86                  393.49              0.44
13                   7     0.89                  393.49              0.44
14                   7     0.92                  393.49              0.44
15                   7     0.95                  393.49              0.44
3                    7     0.59                  445.19              0.35
1                    7     0.53                  445.08              0.35
0                    7     0.50                  445.08              0.35
2                    8     0.56                  431.67              0.34

In [88]:
# TO-IMPLEMENT: preference, max_iter, convergence_iter

score_table = []
for i in range(1, 16):
    
    damping = (0.50 + (0.03 * i))
    labels = AffinityPropagation(damping = damping).fit(data).predict(data)
    
    row = scores(data,labels)
    row["damping"] = damping
    row["number of clusters"] = int(len(set(labels)))
    
    score_table += [row]
    
DataFrame(score_table).sort_values("silhouette score", ascending=False).round(2)[["number of clusters", "damping", "calinski harabaz score","silhouette score"]]

    number of clusters  damping  calinski harabaz score  silhouette score
7                    5     0.74                  487.02              0.49
6                    6     0.71                  435.83              0.47
3                    6     0.62                  427.20              0.47
4                    6     0.65                  427.20              0.47
5                    6     0.68                  427.20              0.47
8                    6     0.77                  427.20              0.47
9                    6     0.80                  427.20              0.47
10                   6     0.83                  427.20              0.47
11                   7     0.86                  393.49              0.44
12                   7     0.89                  393.49              0.44
13                   7     0.92                  393.49              0.44
14                   7     0.95                  393.49              0.44
2                    7     0.59                  445.19              0.35
0                    7     0.53                  445.08              0.35
1                    8     0.56                  431.67              0.34

In [15]:
#MeanShift

In [16]:
score_table = []
for i in range(1, 21):
    
    bandwidth = i * 0.05
    labels = MeanShift(bandwidth=bandwidth).fit(data).predict(data)
    
    row = scores(data,labels)
    row["bandwidth"] = bandwidth
    row["number of clusters"] = int(len(set(labels)))
    
    score_table += [row]
    
DataFrame(score_table).sort_values("silhouette score", ascending=False).round(2)[["number of clusters","bandwidth", "calinski harabaz score","silhouette score"]]

    number of clusters  bandwidth  calinski harabaz score  silhouette score
19                   2       1.00            5.088800e+02              0.69
18                   2       0.95            5.088800e+02              0.69
17                   2       0.90            5.088800e+02              0.69
16                   3       0.85            5.589200e+02              0.55
15                   4       0.80            4.630400e+02              0.49
14                   5       0.75            3.586500e+02              0.46
12                   9       0.65            2.902300e+02              0.43
13                   6       0.70            3.428700e+02              0.41
11                  10       0.60            2.810100e+02              0.32
9                   16       0.50            2.123000e+02              0.30
10                  13       0.55            2.314800e+02              0.29
8                   22       0.45            2.331800e+02              0.24
5                   68       0.30            2.145100e+02              0.22
4                   87       0.25            2.472700e+02              0.20
6                   45       0.35            1.792200e+02              0.20
7                   30       0.40            1.787500e+02              0.19
3                  109       0.20            3.491900e+02              0.16
2                  120       0.15            4.336600e+02              0.13
1                  145       0.10            2.363940e+03              0.04
0                  147       0.05            2.421262e+34              0.03

In [17]:
#Spectral Clustering

In [18]:
score_table = []
for i in range(2, 21):
    
    labels = SpectralClustering(n_clusters=i).fit_predict(data)
    
    row = scores(data,labels)
    row["number of clusters"] = i
    
    score_table += [row]
    
DataFrame(score_table).sort_values("silhouette score", ascending=False).round(2)[["number of clusters", "calinski harabaz score","silhouette score"]]

    number of clusters  calinski harabaz score  silhouette score
0                    2                  501.92              0.69
1                    3                  558.92              0.55
2                    4                  526.59              0.49
3                    5                  493.13              0.49
4                    6                  473.66              0.37
5                    7                  443.64              0.35
6                    8                  438.29              0.35
8                   10                  368.25              0.34
7                    9                  399.59              0.34
9                   11                  354.63              0.31
12                  14                  331.32              0.28
14                  16                  304.54              0.26
13                  15                  309.11              0.25
17                  19                  279.79              0.24
11                  13                   78.27              0.23
16                  18                  106.58              0.22
10                  12                   81.68              0.21
15                  17                   77.32              0.19
18                  20                   36.22              0.15

In [19]:
# Agglomerative Clustering

In [20]:
score_table = []
for i in range(2, 21):
    
    labels = AgglomerativeClustering(n_clusters=i).fit_predict(data)
    
    row = scores(data,labels)
    row["number of clusters"] = i
    
    score_table += [row]
    
DataFrame(score_table).sort_values("silhouette score", ascending=False).round(2)[["number of clusters", "calinski harabaz score","silhouette score"]]

    number of clusters  calinski harabaz score  silhouette score
0                    2                  501.92              0.69
1                    3                  556.84              0.55
2                    4                  513.77              0.49
3                    5                  487.07              0.48
4                    6                  465.73              0.36
6                    8                  417.14              0.35
5                    7                  432.83              0.34
7                    9                  389.63              0.33
8                   10                  367.76              0.33
9                   11                  351.72              0.31
15                  17                  311.57              0.30
14                  16                  316.51              0.30
10                  12                  340.69              0.29
13                  15                  321.82              0.29
17                  19                  305.04              0.29
16                  18                  308.47              0.29
12                  14                  327.37              0.29
11                  13                  332.05              0.28
18                  20                  303.25              0.28

In [21]:
#DBSCAN

In [22]:
score_table = []
for i in range(1, 21):
    eps = i * 0.05
    labels = DBSCAN(eps=eps).fit_predict(data)
    
    if len(set(labels)) == 1: continue
    
    row = scores(data,labels)
    row["eps"] = eps
    row["number of clusters"] = int(len(set(labels)))
    
    score_table += [row]
    
DataFrame(score_table).sort_values("silhouette score", ascending=False).round(2)[["number of clusters", "eps", "calinski harabaz score","silhouette score"]]

    number of clusters   eps  calinski harabaz score  silhouette score
17                   2  1.00                  501.92              0.69
15                   2  0.90                  501.92              0.69
16                   2  0.95                  501.92              0.69
9                    3  0.60                  229.70              0.54
12                   3  0.75                  277.49              0.51
13                   3  0.80                  277.49              0.51
10                   3  0.65                  259.76              0.50
11                   3  0.70                  259.76              0.50
8                    3  0.55                  226.65              0.50
14                   3  0.85                  262.13              0.49
7                    3  0.50                  219.87              0.49
6                    3  0.45                  190.56              0.46
5                    5  0.40                   97.40              0.28
1                    3  0.20                   20.09              0.19
4                    7  0.35                   48.17              0.12
0                    2  0.15                   12.20              0.09
3                    4  0.30                   55.34             -0.05
2                    4  0.25                   38.83             -0.15

In [23]:
#Birch

In [24]:
score_table = []
for i in range(1, 21):
    threshold = i * 0.05
    labels = Birch(threshold=threshold).fit_predict(data)
    
    row = scores(data,labels)
    row["threshold"] = threshold
    row["number of clusters"] = int(len(set(labels)))
    
    score_table += [row]
    
DataFrame(score_table).sort_values("silhouette score", ascending=False).round(2)[["number of clusters","threshold", "calinski harabaz score","silhouette score"]]

    number of clusters  threshold  calinski harabaz score  silhouette score
19                   3       1.00                  554.91              0.56
7                    3       0.40                  554.91              0.56
1                    3       0.10                  554.91              0.56
2                    3       0.15                  556.84              0.55
0                    3       0.05                  558.06              0.55
18                   3       0.95                  546.88              0.55
14                   3       0.75                  484.71              0.54
5                    3       0.30                  399.95              0.53
6                    3       0.35                  399.95              0.53
4                    3       0.25                  399.95              0.53
8                    3       0.45                  399.95              0.53
10                   3       0.55                  399.95              0.53
11                   3       0.60                  389.94              0.53
13                   3       0.70                  477.10              0.53
15                   3       0.80                  477.10              0.53
3                    3       0.20                  484.90              0.51
12                   3       0.65                  484.90              0.51
17                   3       0.90                  471.17              0.51
16                   3       0.85                  464.61              0.50
9                    3       0.50                  457.54              0.50